{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AZURE_FUNCTIONS_ENVIRONMENT": "Development",
    
    "GoogleClientId": "PASTE_YOUR_GOOGLE_CLIENT_ID_HERE",
    "GoogleClientSecret": "PASTE_YOUR_GOOGLE_CLIENT_SECRET_HERE",
    
    "SpotifyClientId": "PASTE_YOUR_SPOTIFY_CLIENT_ID_HERE",
    "SpotifyClientSecret": "PASTE_YOUR_SPOTIFY_CLIENT_SECRET_HERE",
    
    "AppleMusicTeamId": "PASTE_YOUR_APPLE_TEAM_ID_HERE",
    "AppleMusicKeyId": "PASTE_YOUR_APPLE_KEY_ID_HERE",
    "AppleMusicPrivateKey": "PASTE_YOUR_APPLE_PRIVATE_KEY_PEM_HERE"
  }
}
